.sidebar {
  float: left;
  height: 100vh;
  width: 25vw;
  overflow: hidden;
}
.sidebar p {
  padding: 5px 10px;
}
.mapbox-container {
  float: left;
  height: 100vh;
  width: 75vw;
}
ul.cellList {
  overflow: hidden;
  overflow-y: scroll
}
